<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:replace="~{links :: div}"></div>

<div th:switch="${#authorization.expression('isAuthenticated()')}" align="center">
    <h1 th:case="false">Войдите, чтобы продолжить</h1>
    <h1 th:case="true">
        Добро пожаловать,
        <div th:text="${authentication.getName()}">Имя пользователя</div>
    </h1>
</div>

</body>
</html>